@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #171717;
  --foreground: #ffffff;
}


body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@layer base {
  @font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins/Poppins-Regular.ttf");
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "PoppinsLight";
    src: url("/fonts/Poppins/Poppins-Light.ttf");
    font-weight: 300;
    font-display: swap;
  }

  @font-face {
    font-family: "PoppinsMedium";
    src: url("/fonts/Poppins/Poppins-Medium.ttf");
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: "PoppinsSemiBold";
    src: url("/fonts/Poppins/Poppins-SemiBold.ttf");
    font-weight: 600;
    font-display: swap;
  }

  @font-face {
    font-family: "PoppinsBold";
    src: url("/fonts/Poppins/Poppins-Bold.ttf");
    font-weight: 700;
    font-display: swap;
  }
}


@layer utilities {
  .container-padding {
    @apply px-10 md:px-18 2xl:px-18 3xl:px-22;
  }
  .section-block-padding {
    @apply py-10 md:py-16 3xl:py-22;
  }

  .section-block-top {
    @apply pt-10 md:pt-16 3xl:pt-22;
  }

  .section-block-bottom {
    @apply pb-10 md:pb-16 3xl:pb-22;
  }

  .title-content-gap {
    @apply mb-6 md:mb-8 3xl:mb-10;
  }
  .fl1 {
    @apply text-[12px] sm:text-[10px] md:text-[16px] font-poppins-semibold text-black;
  }
  .fl2 {
    @apply text-[12px] md:text-[14px] font-poppins-medium ;
  }
  .fl3 {
    @apply text-[18px] md:text-[26px] font-poppins-medium text-black;
  }

  .fl4 {
    @apply text-[10px] lg:text-[12px] font-poppins text-black;
  }

  .fl5 {
    @apply text-[6px] md:text-[10px] font-poppins-medium;
  }
}